.container {
  max-width: 1320px;
  margin: auto;
  .footer_wrapper {
    max-width: 100%;
    .footer_top {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 20px;
      @media (max-width: 890px) {
        grid-template-columns: 1fr;
        // column-gap: 50px;
      }
      @include mQ($md) {
        grid-template-columns: 1fr;
      }

      .footer_left {
        @include mQ($md) {
          margin-left: 100px;
        }
        @include mQ($sm) {
          margin-left: 40px;
        }
        h1 {
          color: #344767;
          font-size: 16px;
          line-height: 26px;
          text-transform: uppercase;
        }
        p {
          color: #67748e;
          font-size: 16px;
          line-height: 26px;
          margin-top: 10px;
        }
        .icon_wrapper {
          display: flex;
          align-items: center;
          margin-top: 30px;
          .icon {
            color: #8392ab;
            font-size: 20px;
            line-height: 18px;
            margin-right: 20px;
            &:hover {
              color: #000000;
            }
          }
        }
      }
      .footer_right {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 150px;

        @media (max-width: 790px) {
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 20px;
          margin-top: 50px;
        }
        @include mQ($md) {
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 20px;
          margin-top: 50px;
          margin-left: 100px;
        }
        @include mQ($sm) {
          margin-left: 40px;
        }
        .link_wrapper {
          min-width: 80px;
          .heading {
            font-size: 14px;
            line-height: 21px;
            color: #344767;
            margin-top: 10px;
          }
          .links {
            font-size: 14px;
            line-height: 22px;
            color: #8392ab;
            margin-top: 5px;
            &:hover {
              color: #000000;
            }
          }
        }
      }
    }
    hr {
      margin-top: 40px;
      color: #f0f3f9;
      // @include mQ($md) {
      //  width: 100%;
      // }
      // @include mQ($sm) {
      //   width: 100%;
      //  }
    }
    .footer_bottom {
      @include displayCenter(center, center);
      padding: 30px;
      color: #8392ab;
      font-size: 14px;
      line-height: 21px;
      @include mQ($sm) {
        justify-content: flex-start;
        // margin-left: 30px;
      }
    }
  }
}
