*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: $fontFamilyOne;
  font-weight: 400;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
.btn_brand {
  display: inline-block;
  border: 0;
  border-radius: 5px;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  width: 180px;
  text-decoration: none;
  background: $brand_color_primary;
  color: $brand_color_secondary;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    color: $brand_color_primary;
    background: $brand_color_secondary;
  }
}
// .container {
//   width: 100%;
//   height: 100%;
//   padding-right: calc(1.5rem * 0.5);
//   padding-left: calc(1.5rem * 0.5);
//   margin-right: auto;
//   margin-left: auto;
//   @include mQ($sm) {
//     max-width: 540px;
//   }
//   @include mQ($md) {
//     max-width: 720px;
//   }
//   @include mQ($lg) {
//     max-width: 960px;
//   }
//   @include mQ($xl) {
//     max-width: 1140px;
//   }
//   @include mQ($xxl) {
//     max-width: 1320px;
//   }
// }
