.banner {
  // background-color: #8e9cf6;
  width: 100%;
  height: 100vh;
  position: relative;
  @include displayCenter(center, center);

  .banner_wrapper {
    text-align: center;
    width: 700px;
    @include mQ($md) {
      padding: 10px;
    }
    h1 {
      // color: #344767;
      font-size: 56px;
      line-height: 67px;
    }
    p {
      color: gray;
    }
    .banner_btn {
      margin-top: 20px;
      .banner_btnOne {
        border: 0;
        padding: 10px 20px;
        background: transparent;
        text-transform: uppercase;
        color: #fff;
        background-color: #353b65;
        border-radius: 5px;
        margin-right: 10px;
        font-size: 12px;
        font-weight: bold;
        display: inline-block;
        line-height: 17px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transform: scale();
      }
      .banner_btnTwo {
        border: 0;
        padding: 10px 20px;
        background: transparent;
        text-transform: uppercase;
        color: #222641;
        font-size: 12px;
        line-height: 17px;
        font-weight: bold;
        border: 1px solid #222641;
        margin-right: 10px;
        border-radius: 5px;
        display: inline-block;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
    }
  }
  .image_One {
    position: absolute;
    top: 50px;
    right: 0;
    @include mQ($md) {
      display: none;
    }
  }
  .image_Two {
    position: absolute;
    bottom: 0;
    left: 50px;
    @include mQ($md) {
      display: none;
    }
  }
}
